.sellerProductComponentContainer{
    display: grid;
    grid-template-columns: 40% 15% 15% 10% 10% 10%;
    border-radius: 10px;
    grid-auto-rows: fit-content;
    height: 90px;
    align-items: center;
}
#checkbox_seller{
    display: flex;
}
.productImgContainer{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-left: 1rem;
}
.productNameTxt{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-left: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brandNameTxt{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
.editOption{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #2E7EA3;
}
.editOption:hover{
    text-decoration: underline;
}