.sellingProductContainer {
  width: 100%;
  background-color: #17a2b8;
  border-radius: 5px;
}

.sellingproductamount {
  color: white;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.sellingproductname {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 1rem;
}
.moreinformation {
  display: flex;
  background-color: #13899c;
  color: white;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.statistic-container {
  margin: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
}
.change-type-button-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.change-type-button-container :hover {
  background-color: white;
  color: #007bff;
}
.chart-container {
  position: relative;
  height: auto;
}
.scroll-month-container {
  margin-top: 20px;
  text-align: center;
}
#monthRange {
  width: 80%;
  margin: 10px;
}

#monthValue {
  font-weight: bold;
}
