.adminCategoryComponentContainer {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-auto-rows: fit-content;
  height: 90px;
  align-items: center;
  background-color: white;
}
.productImgContainer {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-left: 0;
}
.productNameTxt {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding-left: 1rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.options-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.edit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
  background-color: #2e7ea3;
  color: white;
  cursor: pointer;
}
.delete-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

.shopSalesTxt {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}
/* overlay */
.adminEditProductOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.699);
  display: flex;
  justify-content: center;
  z-index: 2000;
  padding-top: 5rem;
}

.adminEditProductOverlay-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  height: fit-content;
}
.adminDeleteProductOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.699);
  display: flex;
  justify-content: center;
  z-index: 2000;
  padding-top: 5rem;
}

.adminDeleteProductOverlay-content {
  background: #fff;
  border-radius: 8px;
  min-width: 35%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancelDeleteProductBtn {
  display: flex;
  align-items: center;
  color: #777777;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.deleteProductBtn {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.cancelDeleteProductContainer {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #777777;
  padding: 0.5em 0;
  cursor: pointer;
  border-radius: 10px;
}
.deleteProductContainer {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #777777;
  padding: 0.5em 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: #2e7ea3;
}
