:root{
    --maincolor: #2E7EA3;
    --separatorcolor: #E9E9E9;
    --font: Poppins,sans-serif;
    --smoke: #F7F7F6;
}
body{
    font-family: Poppins,sans-serif;
}
.advertise{
    background-color: #2E7EA3;
    height: 50px;
    color: white;
    vertical-align: center;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    width: screen;
}

.selections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.search{
    background-color: black;
    color: white;
    height: 70px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon{
    width: 30px;
    height: auto;
    padding-left: 1em;
}

.items{
    display: flex;
    column-gap: 2em;
}

.item{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.logo{
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
}

.login{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 2em;
    font-weight: 400;
}

.profileIcon{
    height: 20px;
    padding-bottom: 3px;
}
.separator{
    height: 2px;
    background-color: var(--separatorcolor);
    border: none;
    margin-top: -2.5px;
}
.subheader{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .6em;
}

.shopLocation{
    display: flex;
    align-items: center;
    padding-left: 2em;
    width: 260px;
}
.location{
    font-family: var(--font);
    font-size: 12px;
    text-decoration: underline;
    line-height: 20px;
    padding-left: 1em;
}
.openTime{
    color: #008615;
}
.options{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex: 1fr;
}
.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--smoke);
    border-radius: 10px;
    text-decoration: underline;
}

.customerServices{
    display: flex;
    padding-right: 1em;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    font-size: 14px;
    width: 350px;
}
.serviceText{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.vl {
border-left: 1px solid black;
height: 20px;
}